body
    +light
    color: $text-color

.button-o
    border: 2px solid $primery
    padding:17px 22px
    font-size:12px
    color:$primery
    text-transform: uppercase
    background-color: transparent
    +bold
.button
    border: none
    text-transform: uppercase
    padding: 25px 45px 
    background-color: $primery
    color: #ffffff
    +bold

.bg-secondary
    background: $bg-secondary
.input
    height: 80px
    padding-left: 30px
    border: 1px solid #dddddd
input[type="checkbox"]
    display: none
    &:checked + label::before
        background-color: $primery
.checkbox
    &-label
        display: flex
        align-items: center
        margin-right: 40px
        &:hover
            cursor: pointer
        &::before
            content: ''
            display: inline-block
            height: 30px
            width: 30px
            border: 1px solid #dddddd
            margin-right: 20px
@media(max-width: 576px)
    .button-o
        font-size: 10px
