.hero
    background:#f1f1f1 url('../img/hero/hero-bg.jpg') no-repeat center
    background-size: contain
    padding-top: 120px
    padding-bottom: 270px
    margin-top: 80px
    &__title
        font-size: 30px
        margin-bottom: 40px
    &__subtitle
        display: block
        font-size: 30px
        +bold
        margin-bottom: 67px

@media(max-width: 1610px)
    .hero
        background-position: top 50px right 

@media(max-width: 991px)
    .hero
        background-size: 100%
        background-position: top 80px right 30px
@media(max-width: 650px)
    .hero
        background-size: 100%
        background-position: top right 30px
@media(max-width: 410px)
    .hero
        background-size: 100%
        background-position: top right 110px

    
    